:root {
  --sys-blue-dark-color-1: #151760;
  --sys-blue-color-1: #275de9;
  --sys-blue-color-2: #1f70fc;
  --sys-blue-color-tx: #0052d9;
  --sys-blue-color-3: #0884ff;
  --sys-blue-color-4: #0093ff;
  --sys-blue-color-5: #21a4ff;
  --sys-blue-color-6: #54b5ff;
  --sys-blue-color-7: #8bcaff;
  --sys-blue-color-8: #badeff;
  --sys-blue-color-9: #e2f3ff;
  --sys-font-family: PingFang SC, Microsoft YaHei, Arial Regular;;
  --sys-font-family-Medium: PingFang SC, Microsoft YaHei, Arial Medium;
}
.flex_normal_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
